.hero{
    height: 100vh;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    margin-bottom: 40px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;  
    gap: 20px;
    padding-left: 140px;
    line-height: 1.1;
}
.hero-left h2{
    color: #171717;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 85px;
    font-weight: 600;
}
.hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand-icon img{
    width: 90px;
}
.latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 65px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    background-color: #eb423f;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.latest-btn:hover{
    box-shadow: 2px 2px 0px 2px black;
    transform: translateY(-2px);
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.circle{
    height: 470px;
    width: 470px;
    background-color: #e2120a;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 40px;
    box-shadow: 1px 1px 30px 15px #ec6935;
}
.hero-right img{
    height: 700px;
    padding-right: 120px;
    z-index: 10;
}

@media(max-width:1280px){
    .hero-left{
        padding-left:100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 70px;
    }
    .hand-icon img{
        width: 75px;
    }
    .latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        width: 550px;
        padding-right: 40px;
    }
}

@media(max-width:1024px){
    .hero-left{
        padding-left:80px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hand-icon img{
        width: 55px;
    }
    .latest-btn{
        width: 220px;
        height: 50px;
        /* margin-top: 10px; */
        font-size: 16px;
    }
    .hero-right img{
        width: 500px;
        height: 600px;
        padding-right: 60px;
    }
    .circle{
        height: 425px;
        width: 425px;
        background-color: #e2120a;
        position: absolute;
        top: 40px;
        left: 30px;
        box-shadow: 1px 1px 30px 15px #ec6935;
    }
}

@media(max-width:800px){
    .hero{
        height: 80vh;
    }
    .hero-left{
        padding-left:50px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size:40px;
    }
    .hand-icon img{
        width: 50px;
    }
    .latest-btn{
        width: 175px;
        height: 40px;
        /* margin-top: 10px; */
        font-size: 13px;
    }
    .latest-btn img{
        width: 18px;
    }
    .hero-right img{
        width: 350px;
        height: auto;
        padding-right: 20px;
    }
    .circle{
        height: 325px;
        width: 325px;
        background-color: #e2120a;
        position: absolute;
        top: 40px;
        left: 5px;
        box-shadow: 1px 1px 30px 15px #ec6935;
    
    }
}

@media(max-width:500px){
    .hero{
        flex-direction: column;
        height: 75vh;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hand-icon img{
        width: 45px;
    }
    .latest-btn{
        width: 200px;
        height: 45px;
        /* margin-top: 10px; */
        font-size: 14px;
    }
}