.hero{
    height: 100vh;
    background: linear-gradient(180deg,white, #eb90e0f3, white 100%);
    display: flex;

}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #171717;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand-icon img{
    width: 100px;
}
.latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    border: none;
    margin-top: 30px;
    background-color: #eb423f;
    box-shadow: #2d234266 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.latest-btn:hover{
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #888b9e 0 -3px 0 inset;
    transform: translateY(-2px);
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}