.related-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.related-products h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.related-products hr{
    width: 30%;
    height: 5px;
    border-radius: 15px;
    background: #171717;
}

.product-items{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

@media(max-width:1280px){
    .related-products{
        height: 70vh;
    }
    .related-products h1{
        font-size: 40px;
    }
    .related-products hr{
        width: 20%;
        height: 4px;
    }
    .product-items{
        gap: 20px;
        margin-top: 30px;
    }
}

@media(max-width:1024px){
    .related-products{
        height: 60vh;
    }
    .related-products h1{
        font-size: 30px;
    }
    .related-products hr{
        width: 15%;
        height: 3px;
    }
    .product-items{
        gap: 15px;
        margin-top: 20px;
    }
}

@media(max-width:800px){
    .related-products{
        height: 50vh;
        gap: 6px;
    }
    .related-products h1{
        font-size: 20px;
    }
    .related-products hr{
        width: 10%;
        /* height: 2px; */
    }
    .product-items{
        gap: 10px;
        /* margin-top: 15px; */
    }
}

@media(max-width:500px){
    .related-products{
        height: 90vh;
        /* width: 100%; */
    }
    .product-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}