.Offers{
    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 80px;
    margin-bottom: 150px;
    border-radius: 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff); 
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
    /* padding-left: -10px; */
}  

.left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.left button{
    width: 270px;
    height: 55px;
    border-radius: 10px;
    background: #eb423f;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.left button:hover{
    box-shadow: 2px 2px 0px 2px black;
    transform: translateY(-2px);
}

.right{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* padding-top: 50px; */
}
.right img{
    width: 450px;
    padding-right: -10px;
}

@media(max-width:1280px){
    .Offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .left h1{
        font-size: 50px;
    }
    .left p{
        font-size: 18px;
    }
    .right{
        padding-top: 10px;
    }
    .right img{
        width: 400px;
    }
    .left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
}

@media(max-width:1024px){
    .Offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .left h1{
        font-size: 30px;
    }
    .left p{
        font-size: 16px;
    }
    .right img{
        width: 280px;
    }
    .left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .right{
        padding-top: 10px;
    }
    .right img{
        width: 240px;
    }
}

@media(max-width:800px){
    .Offers{
        /* padding: 0px 60px; */
        margin-bottom: 60px;
        height: 35vh;
    }
    .left h1{
        font-size: 24px;
    }
    .left p{
        font-size: 12px;
    }
    .right img{
        width: 220px;
    }
    .left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .Offers{
        margin-bottom: 50px;
        height: 25vh;
    }
    .left h1{
        font-size: 20px;
    }
    .left p{
        font-size: 8px;
    }
    .left button{
        width: 100px;
        height: 25px;
        font-size: 9px;
        margin-top: 15px;
    }
    .right img{
        width: 130px;
    }
}
